<div class="w-auto p-8">
  <h3 class="mb-4 text-lg font-semibold">
    <slot name="title" />
    <div class="text-gray-700 font-medium space-y-3 mt-3">
      <slot name="body" />
    </div>
  </h3>
</div>
