---
const documentation_url = "https://docs.shuffle.dev";
---

<div class="container mx-auto overflow-hidden">
  <div class="flex items-center justify-between px-4 py-5 bg-blueGray-50">
    <div class="w-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-auto mr-14">
          <a href="#">
            <img
              src="https://static.shuffle.dev/uploads/files/74/742b3943eddd212dea070177ec7838fa8d8e1b29/bg4.png"
              alt=""
              class="h-10"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="w-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-auto hidden lg:block">
          <ul class="flex items-center mr-16">
            <li class="mr-9 font-medium hover:text-gray-700">
              <a href="/#features">Features</a>
            </li>
            <li class="mr-9 font-medium hover:text-gray-700">
              <a href={documentation_url}>Documentation</a>
            </li>
            <li class="font-medium group">
              <a href="#" class="flex items-center gap-1">
                <img
                  src="/logos/github.svg"
                  alt="Github logo"
                  class="h-4 group-hover:opacity-75"
                />
                <div class="group-hover:text-gray-700">View on Github</div>
              </a>
            </li>
          </ul>
        </div>
        <div class="w-auto block">
          <div class="inline-block">
            <a
              href={documentation_url}
              class="block py-2 px-5 w-full text-white font-extrabold border rounded-xl focus:ring transition ease-in-out duration-200 bg-blue-700 border-blue-800 focus:ring-blue-800 hover:bg-blue-800"
              type="button">Get started</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
