---
import { twMerge } from "tailwind-merge";
const defaultClasses =
  "text-extrabold text-slate-900 font-extrabold text-3xl md:text-4xl lg:text-5xl";
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<h1 class={twMerge(defaultClasses, className)}>
  <slot />
</h1>
